:root {
     --DarkGrayishBlue: hsl(217, 19%, 35%);
     --DesatDarkBlue: hsl(214, 17%, 51%);
     --GrayishBlue: hsl(212, 23%, 69%);
     --LtGrayishBlue: hsl(210, 46%, 95%);

}




*::before,
*::after {
     box-sizing: border-box;
}

* {
     margin: 0;
}

body {
     line-height: 1.5;
     background-color: var(--LtGrayishBlue);
}

img,
picture,
video,
canvas,
svg {
     display: block;
     max-width: 100%;
}

input,
button,
textarea,
select {
     font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
     overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: Manrope, sans-serif;
     font-weight: 700;
}

body {
     font-family: Verdana, sans-serif;
}




.flex-group {
     display: flex;
     gap: 1rem;
     flex-wrap: wrap;
     align-items: center;
}


/* MAIN with media queries -------------------------------- */

main {
     position: relative;
     display: grid;
     grid-template-rows: 2fr 3fr;
     grid-template-columns: none;
     background-color: white;
     max-width: 70ch;
     border-radius: 1rem;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     padding: 0;
     margin: 2rem;
     overflow: hidden;

}

@media (min-width: 1024px) {

     main {
          display: grid;
          grid-template-columns: 2fr 3fr;
          grid-template-rows: none;
          max-width: 70ch;
          margin: 2rem auto;
          padding: 0;
     }
}

/* ARTICLE ----------------------------------------------------------  */


article {
     margin: 2rem 1.5rem 1rem;
}


.article-image {
     background-image: url("./images/drawers.jpg");
     background-size: cover;
     background-repeat: no-repeat;
}




article h1 {
     font-size: 1rem;
     font-weight: 700;
     color: var(--DarkGrayishBlue);
     margin-bottom: 1rem;
}


@media (min-width: 1024px) {
     /* article {
          margin: 1rem;
     } */

     article h1 {
          font-size: 1.3rem;
     }


     article {
          margin: 2rem;
     }
}



article p {
     font-size: .75rem;
     line-height: 1.8;
     color: var(--DesatDarkBlue);
}


.article-metadata {
     display: grid;
     grid-template-columns: 4rem 1fr 2rem;
     align-items: center;
     margin-top: 1rem;
}

.article-metadata img {
     height: 2.7rem;
     border-radius: 9999px;

}

article .author-info {
     font-size: .9rem;
}

article .author {
     font-weight: 800;
     color: var(--DarkGrayishBlue);
}


article .share-popup {
     background-color: var(--DarkGrayishBlue);
     color: var(--LtGrayishBlue);

     position: absolute;
     bottom: 0;
     left: 0;

     padding: .25rem;

     width: 100%;
     height: 3rem;


     display: inline-flex;
     justify-content: space-around;
}

article .share-popup>i {
     margin: 0;
     padding: 0;
     font-size: 1.25rem;
}

article .share-popup span.share-label {
     letter-spacing: 5px;
     text-transform: uppercase;
     font-size: .9rem;

}

@media (min-width: 1024px) {

     article .share-popup {
          position: absolute;
          left: 64%;
          bottom: 6rem;
          height: 3rem;
          width: 15rem;
          display: inline-flex;
          justify-content: space-around;
          border-radius: .5rem;

     }

     article .share-popup #share-button {
          display: none;
     }

     .share-popup:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 78%;
          width: 0;
          height: 0;
          border: 20px solid transparent;
          border-top-color: var(--DarkGrayishBlue);
          border-bottom: 0;
          margin-left: -20px;
          margin-bottom: -20px;
     }

}