:root {
     --DarkGrayishBlue: hsl(217, 19%, 35%);
     --DesatDarkBlue: hsl(214, 17%, 51%);
     --GrayishBlue: hsl(212, 23%, 69%);
     --LtGrayishBlue: hsl(210, 46%, 95%);

}

*::before,
*::after {
     box-sizing: border-box;
}

* {
     margin: 0;
}

body {
     line-height: 1.5;
     background-color: var(--LtGrayishBlue);
}

img,
picture,
video,
canvas,
svg {
     display: block;
     max-width: 100%;
}

input,
button,
textarea,
select {
     font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
     overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: Manrope, sans-serif;
     font-weight: 700;
}

body {
     font-family: Verdana, sans-serif;
}

main {
     display: grid;
     grid-template-columns: 2fr 3fr;
     background-color: white;
     max-width: 70ch;
     border-radius: 1rem;
     margin: 2rem auto;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     padding: 0;
     margin: 2rem auto;
}

/* ARTICLE ----------------------------------------------------------  */

article {
     margin: 2rem;
}

.article-image {
     background-image: url("./images/drawers.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 1rem 0 0 1rem;
}

article h1 {
     font-size: 1.3rem;
     font-weight: 700;
     color: var(--DarkGrayishBlue);
     margin-bottom: 1rem;
}

article p {
     font-size: .75rem;
     line-height: 1.8;
     color: var(--DarkGrayishBlue);
}


.article-metadata {
     display: grid;
     grid-template-columns: 4rem 1fr 2rem;
     align-items: center;
     margin-top: 1rem;
}

.article-metadata img {
     height: 2.7rem;
     border-radius: 9999px;

}

article .author-info {
     font-size: .9rem;
}

article .author {
     font-weight: 800;
     color: var(--DarkGrayishBlue);
}